package view

templ Confirm() {
	<div
		style="width:800px;height:343px;background:url(https://concurs-captain-america.ro/assets/img/banner.png);background-size:cover;display:flex;"
	>
		>
		<div style="color: #f4f4f4;width:300px;height:343px;text-align:center;vertical-align:middle;margin-top:140px;">
			Ați înscris o lucrare în concursul
			<br/>
			<strong>„Eroul meu preferat de la Marvel”</strong>.
			<br/>
			Vă mulțumim pentru participare!
		</div>
	</div>
}
