package view

templ Navbar() {
	<nav>
		<ul class="navbar">
			<li><img class="marvel" src="/assets/img/marvel.png"/></li>
			<li id="participate"><a href="/?dialog=open">Participate</a></li>
			<li><a href="" target="_blank">Terms and conditions</a></li>
			<li><a href="" target="_blank">Conditions www</a></li>
			<li><a href="" target="_blank">Privacy policy</a></li>
		</ul>
	</nav>
}
