package view

templ TextParagraphsUp() {
	<div class="paragraphs-container">
		<h1>Konkurs Mój ulubiony bohater Marvela</h1>
		<h3>
			Wykaż się kreatywnością -
			wykonaj ciekawą pracę konkursową przedstawiającą 
			Twojego ulubionego bohatera Marvela i wygraj
		</h3>
		<p>
			Możesz wygrać 3-dniowy wyjazd do Disneyland Paris dla 4 osób. 
			Szczegóły znajdziesz w <a href="/">Regulaminie</a>. 
		</p>
	</div>
}
