@font-face {
  font-family: "neutra_displaymedium";
  src: url("./font/neutra_display_medium-webfont.woff2") format("woff2"),
    url("./font/neutra_display_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "neutra_displaymedium", Arial, sans-serif;
  font-size: 1.2rem;
}

.contest sl-input,
.contest sl-checkbox {
  display: block;
  margin-bottom: var(--sl-spacing-medium);
}

/* user invalid styles */
.contest sl-input[data-user-invalid]::part(base),
.contest sl-checkbox[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

.contest [data-user-invalid]::part(form-control-label),
.contest [data-user-invalid]::part(form-control-help-text),
.contest sl-checkbox[data-user-invalid]::part(label) {
  color: var(--sl-color-danger-700);
}

.contest sl-checkbox[data-user-invalid]::part(control) {
  outline: none;
}

.contest sl-input:focus-within[data-user-invalid]::part(base),
.contest sl-checkbox:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
.contest sl-input[data-user-valid]::part(base),
.contest sl-checkbox.required[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
}

.contest [data-user-valid]::part(form-control-label),
.contest [data-user-valid]::part(form-control-help-text),
.contest sl-checkbox.required[data-user-valid]::part(label) {
  color: var(--sl-color-success-700);
}

.contest sl-checkbox.required[data-user-valid]::part(control) {
  background-color: var(--sl-color-success-600);
  outline: none;
}

.contest sl-input:focus-within[data-user-valid]::part(base),
.contest sl-checkbox.required:focus-within[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
}

.art-piece-file-upload {
  height: 200px;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  display: flex;
}

.navbar a {
  text-decoration: none;
  padding: 1em 2em;
  display: block;
  color: black;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

:root {
  --sl-font-sans: "neutra_displaymedium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --sl-font-size-medium: 1.2rem;
}

.blue-box {
  color: white;
  text-align: center;
  background: #024c8e;
  padding: 1rem 5rem;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

:modal {
  border-radius: 1rem;
  border-width: 0;
  margin-top: 4rem;
  height: 80%;
  width: 400px;
}

:modal::backdrop {
  background: url(./../img/background-sky.png);
}

#x-circle {
  position: fixed;
  color: white;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
}

#arrow-left-circle {
  position: fixed;
  color: white;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
}

#cc-main {
  --cc-font-family: "neutra_displaymedium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

#cookie-banner-blur {
  display: none;
  backdrop-filter: blur(10px);
  /* cover whole window */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.marvel {
  width: 8rem;
  padding: 0.5em 1em;
}

body {
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
}

.banner .content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .content img {
  width: 40%;
  border-style: solid;
  border-color: #c02929;
  border-width: 5px;
}

.banner .content span {
  text-align: center;
}

.banner .content span.white {
  color: rgb(224, 224, 224);
}

.banner .content span.background {
  background-color: #3d7be1cf;
  border-radius: 5px;
  margin: 0 1rem;
  margin-bottom: 1rem;
  color: rgb(240, 240, 240);
}

.banner .content span.warnbox {
  background-color: white;
  color: #c02929;
  padding: 0.5rem;
  border-radius: 10px/70%;
  border-width: 2px;
  border-color: #c02929;
  border-style: solid;
  margin-top: 1rem;
}

.paragraphs-container {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
}
